
<div class="container">
  <h2 class="header">Result</h2>
  <div class="search-box">
    <input class="text" type="text" autofocus="true" placeholder="Listenning ...">
  </div>
</div>
<div class="recorder_wrapper">
  <div class="recorder">
      <button class="record_btn" id="button" ></button>
      <p id="msg_box"></p>
  </div>
</div>

<div class="main-container">

  <section>
    <h2>Tags</h2>
    <button class="btn btn-green btn-border-o" (click)="send('bed')">Bed</button>
    <button class="btn btn-blue btn-border-o">Bird</button>
    <button class="btn btn-purple btn-border-o">Cat</button>
    <button class="btn btn-navy btn-border-o">Dog</button>
    <button class="btn btn-orange btn-border-o">Down</button>
    <button class="btn btn-red btn-border-o">Eight</button>
    <button class="btn btn-purplee btn-border-o">Five</button>
    <button class="btn btn-navy btn-border-o">Four</button>
    <button class="btn btn-orange btn-border-o">Go</button>
    <button class="btn btn-red btn-border-o">Happy</button>

    <button class="btn btn-green btn-border-o">House</button>
    <button class="btn btn-blue btn-border-o">Left</button>
    <button class="btn btn-purple btn-border-o">Marvin</button>
    <button class="btn btn-navy btn-border-o">Nine</button>
    <button class="btn btn-orange btn-border-o">No</button>
    <button class="btn btn-red btn-border-o">Off</button>
    <button class="btn btn-purplee btn-border-o">On</button>
    <button class="btn btn-navy btn-border-o">One</button>
    <button class="btn btn-orange btn-border-o">Right</button>
    <button class="btn btn-red btn-border-o">Seven</button>

    <button class="btn btn-green btn-border-o">Sheila</button>
    <button class="btn btn-blue btn-border-o"> Six</button>
    <button class="btn btn-purple btn-border-o">Stop</button>
    <button class="btn btn-navy btn-border-o">Three </button>
    <button class="btn btn-orange btn-border-o">Tree</button>
    <button class="btn btn-red btn-border-o">Two</button>
    <button class="btn btn-purplee btn-border-o">Up</button>
    <button class="btn btn-navy btn-border-o"> Wow</button>
    <button class="btn btn-orange btn-border-o">Yes</button>
    <button class="btn btn-red btn-border-o">Zero</button>
  </section>
  </div>