
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  <script src="assets/js/record.js"></script>
<div class="container">
  <h2 class="header">Result</h2>
  <div class="search-box">
    <input class="text" type="text" autofocus="true" placeholder= "Listennig ..." value={{test}}  >
  </div>
</div>
<div class="recorder_wrapper">
  <div class="recorder">
      <button class="record_btn"  (click)="f()"></button>
      <p id="msg_box"></p>
  </div>
</div>

<div class="main-container">

  <section>
    <h2>Tags</h2>
    <button class="btn btn-green btn-border-o" (click)="sendLabel('bed')">Bed</button>
    <button class="btn btn-blue btn-border-o" (click)="sendLabel('bird')">Bird</button>
    <button class="btn btn-purple btn-border-o" (click)="sendLabel('cat')">Cat</button>
    <button class="btn btn-navy btn-border-o" (click)="sendLabel('dog')">Dog</button>
    <button class="btn btn-orange btn-border-o" (click)="sendLabel('down')">Down</button>
    <button class="btn btn-red btn-border-o" (click)="sendLabel('eight')">Eight</button>
    <button class="btn btn-purplee btn-border-o" (click)="sendLabel('five')">Five</button>
    <button class="btn btn-navy btn-border-o" (click)="sendLabel('four')">Four</button>
    <button class="btn btn-orange btn-border-o" (click)="sendLabel('go')">Go</button>
    <button class="btn btn-red btn-border-o" (click)="sendLabel('happy')">Happy</button>

    <button class="btn btn-green btn-border-o" (click)="sendLabel('house')">House</button>
    <button class="btn btn-blue btn-border-o" (click)="sendLabel('left')">Left</button>
    <button class="btn btn-purple btn-border-o" (click)="sendLabel('marvin')">Marvin</button>
    <button class="btn btn-navy btn-border-o" (click)="sendLabel('nine')">Nine</button>
    <button class="btn btn-orange btn-border-o" (click)="sendLabel('no')">No</button>
    <button class="btn btn-red btn-border-o" (click)="sendLabel('off')">Off</button>
    <button class="btn btn-purplee btn-border-o" (click)="sendLabel('on')">On</button>
    <button class="btn btn-navy btn-border-o" (click)="sendLabel('one')">One</button>
    <button class="btn btn-orange btn-border-o" (click)="sendLabel('right')">Right</button>
    <button class="btn btn-red btn-border-o" (click)="sendLabel('seven')">Seven</button>

    <button class="btn btn-green btn-border-o" (click)="sendLabel('sheila')">Sheila</button>
    <button class="btn btn-blue btn-border-o" (click)="sendLabel('six')"> Six</button>
    <button class="btn btn-purple btn-border-o" (click)="sendLabel('stop')">Stop</button>
    <button class="btn btn-navy btn-border-o" (click)="sendLabel('three')">Three </button>
    <button class="btn btn-orange btn-border-o" (click)="sendLabel('tree')">Tree</button>
    <button class="btn btn-red btn-border-o" (click)="sendLabel('two')">Two</button>
    <button class="btn btn-purplee btn-border-o" (click)="sendLabel('up')">Up</button>
    <button class="btn btn-navy btn-border-o" (click)="sendLabel('wow')"> Wow</button>
    <button class="btn btn-orange btn-border-o" (click)="sendLabel('yes')">Yes</button>
    <button class="btn btn-red btn-border-o" (click)="sendLabel('zero')">Zero</button>
  </section>
  </div>
 